services:
  # Web container
  web:
    image: doofinder-magento2:php-${PHP_VERSION}-composer-${COMPOSER_VERSION}
    build:
      context: docker
      args:
        PHP_VERSION: ${PHP_VERSION}
        COMPOSER_VERSION: ${COMPOSER_VERSION}
      secrets:
        - composer_auth_username
        - composer_auth_password
    depends_on:
      db:
        condition: service_healthy
      search:
        condition: service_healthy
    environment:
      MYSQL_HOST: db
      MAGENTO_EDITION: ${MAGENTO_EDITION}
      MAGENTO_VERSION: ${MAGENTO_VERSION}
      BASE_URL: ${BASE_URL}
      MAGENTO_ADMIN_FRONTNAME: ${MAGENTO_ADMIN_FRONTNAME}
      MAGENTO_ADMIN_FIRST_NAME: ${MAGENTO_ADMIN_FIRST_NAME}
      MAGENTO_ADMIN_LAST_NAME: ${MAGENTO_ADMIN_LAST_NAME}
      MAGENTO_ADMIN_EMAIL: ${MAGENTO_ADMIN_EMAIL}
      MAGENTO_ADMIN_USER: ${MAGENTO_ADMIN_USER}
      MAGENTO_ADMIN_PASSWORD: ${MAGENTO_ADMIN_PASSWORD}
      MAGENTO_LOCALE: ${MAGENTO_LOCALE}
      MAGENTO_CURRENCY: ${MAGENTO_CURRENCY}
      MAGENTO_TIMEZONE: ${MAGENTO_TIMEZONE}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      APACHE_RUN_USER: "#1000"
      APACHE_RUN_GROUP: "#1000"
      WEB_ALIAS_DOMAIN: ${BASE_URL}
      WEB_DOCUMENT_ROOT: /app/pub
      PHP_MAX_EXECUTION_TIME: 300
      COMPOSER_HOME: /app/var/composer_home
      DOOFINDER_ADMIN_URL: ${DOOFINDER_ADMIN_URL}
      DOOFINDER_PLUGINS_URL_FORMAT: ${DOOFINDER_PLUGINS_URL_FORMAT}
      DOOFINDER_SEARCH_URL_FORMAT: ${DOOFINDER_SEARCH_URL_FORMAT}
      DOOFINDER_API_URL_FORMAT: ${DOOFINDER_API_URL_FORMAT}
      DOOFINDER_SCRIPT_URL_FORMAT: ${DOOFINDER_SCRIPT_URL_FORMAT}
      #XDEBUG_CONFIG: "client_host=${XDEBUG_HOST} idekey=${XDEBUG_KEY} mode=develop,debug start_with_request=yes"
    volumes:
      - ./app:/app
      - ./Doofinder:/app/app/code/Doofinder
    ports:
      - "9012:80"
      - "4012:443"
    secrets:
      - source: composer_auth_username
        mode: 0444
      - source: composer_auth_password
        mode: 0444

  setup:
    image: doofinder-magento2:php-${PHP_VERSION}-composer-${COMPOSER_VERSION}
    pull_policy: never
    profiles:
      - setup
    environment:
      MAGENTO_EDITION: ${MAGENTO_EDITION}
      MAGENTO_VERSION: ${MAGENTO_VERSION}
    volumes:
      - ./app:/app
      - ~/.composer/cache:/root/.composer/cache
    secrets:
      - composer_auth_username
      - composer_auth_password
    entrypoint: /usr/local/bin/magento_download

  # MySQL container
  db:
    image: mysql:5.7
    volumes:
      - magento-db:/var/lib/mysql
    ports:
      - 3312:3306
    healthcheck:
      test: "mysqladmin -h localhost -p${MYSQL_PASSWORD} ping --silent"
      interval: 30s
      timeout: 30s
      retries: 3
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

# Varnish container
# varnish:
#   image: varnish:stable
#   environment:
#     VARNISH_BACKEND_HOST: web
#     VARNISH_BACKEND_PORT: 80
#     VARNISH_STORAGE: "malloc,256m"
#   ports:
#     - "9012:80"
#   depends_on:
#     - web
#   volumes:
#     - ./default.vcl:/etc/varnish/default.vcl
secrets:
  composer_auth_username:
    environment: COMPOSER_AUTH_USERNAME
  composer_auth_password:
    environment: COMPOSER_AUTH_PASSWORD
volumes:
  magento-db:
