<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <doofinder_feed_feed>
            <feed_attributes>
                <id>df_id</id>
                <title>name</title>
                <description>short_description</description>
                <brand>manufacturer</brand>
                <link>df_url</link>
                <image_link>df_image_link</image_link>
                <price>df_price</price>
                <sale_price>df_sale_price</sale_price>
                <mpn>sku</mpn>
                <availability>df_availability</availability>
                <currency>df_currency</currency>
            </feed_attributes>
            <feed_settings>
                <export_proudct_prices>1</export_proudct_prices>
                <image_size></image_size>
                <split_grouped_products>0</split_grouped_products>
            </feed_settings>
        </doofinder_feed_feed>

        <directives>
            <df_id><![CDATA[Product Id]]></df_id>
        </directives>
    </default>
</config>
