<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config">
        <plugin name="doofinderFeedConfig" type="Doofinder\Feed\Plugin\Config" sortOrder="1" />
    </type>

    <!-- Indexers -->
    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="doofinder" xsi:type="string">Doofinder\Feed\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\IndexStructureFactory">
        <arguments>
            <argument name="structures" xsi:type="array">
                <item name="doofinder" xsi:type="string">Doofinder\Feed\Model\Indexer\IndexStructure</item>
            </argument>
        </arguments>
    </type>
    <type name="Doofinder\Feed\Model\Indexer\Data\Mapper">
        <arguments>
            <argument name="maps" xsi:type="array">
                <item name="update" xsi:type="object">Doofinder\Feed\Model\Indexer\Data\Map\Update</item>
                <item name="delete" xsi:type="object">Doofinder\Feed\Model\Indexer\Data\Map\Delete</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext">
        <plugin name="doofinder_indexer_fulltext"
                type="Doofinder\Feed\Plugin\CatalogSearch\Model\Indexer\Fulltext"
                sortOrder="1" />
    </type>

    <type name="Magento\CatalogSearch\Model\Adminhtml\System\Config\Backend\Engine">
        <plugin name="doofinderSearchEngineBackend" type="Doofinder\Feed\Plugin\CatalogSearch\Model\Adminhtml\System\Config\Backend\Engine" sortOrder="1" />
    </type>

    <type name="Magento\Framework\Url\RouteParamsResolver">
        <plugin name="doofinderUrlRouteParamsResolver" type="Doofinder\Feed\Plugin\Url\RouteParamsResolver" sortOrder="50"/>
    </type>

    <!-- Search -->
    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="doofinder" xsi:type="string">Doofinder\Feed\Search\Adapter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="doofinder" xsi:type="string">Doofinder</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="doofinder" xsi:type="string">doofinder</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="doofinder" xsi:type="string">Doofinder\Feed\Model\ResourceModel\Engine</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Search\Dynamic\DataProviderFactory">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="doofinder" xsi:type="string">Doofinder\Feed\Search\Dynamic\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Search\Dynamic\IntervalFactory">
        <arguments>
            <argument name="intervals" xsi:type="array">
                <item name="doofinder" xsi:type="string">Magento\CatalogSearch\Model\Price\Interval</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="doofinder" xsi:type="string">Magento\AdvancedSearch\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Tax\Model\Config">
        <plugin name="doofinderFeedTaxConfig" type="Doofinder\Feed\Model\Tax\Plugin\Config"/>
    </type>

    <type name="Magento\Catalog\Model\Layer\Resolver">
        <plugin name="doo_set_layer_type"
                type="Doofinder\Feed\Plugin\LayerResolver"/>
    </type>

    <virtualType name="doofinderFulltextSearchCollection" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
        </arguments>
    </virtualType>
    <virtualType name="doofinderFulltextSearchCollectionFactory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">doofinderFulltextSearchCollection</argument>
        </arguments>
    </virtualType>

    <type name="Doofinder\Feed\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">doofinderFulltextSearchCollectionFactory</argument>
        </arguments>
    </type>

    <virtualType name="doofinderCategoryCollection" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">catalog_view_container</argument>
        </arguments>
    </virtualType>
    <virtualType name="doofinderCategoryCollectionFactory" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">doofinderCategoryCollection</argument>
        </arguments>
    </virtualType>

    <type name="Doofinder\Feed\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">doofinderCategoryCollectionFactory</argument>
        </arguments>
    </type>

    <type name="Doofinder\Feed\Plugin\ItemCollection">
        <arguments>
            <argument name="catItemCollection" xsi:type="object">Doofinder\Feed\Model\Layer\Category\ItemCollectionProvider</argument>
            <argument name="searchItemCollection" xsi:type="object">Doofinder\Feed\Model\Layer\Search\ItemCollectionProvider</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Layer\ContextInterface">
        <plugin name="doo_get_collection"
                type="Doofinder\Feed\Plugin\ItemCollection"/>
    </type>

    <type name="Doofinder\Feed\Model\Indexer\Data\Map\Update">
        <arguments>
            <argument name="fetchers" xsi:type="array">
                <item name="magento" xsi:type="object">Doofinder\Feed\Model\Indexer\Data\Map\Update\Fetcher\Magento</item>
                <item name="category" xsi:type="object">Doofinder\Feed\Model\Indexer\Data\Map\Update\Fetcher\Category</item>
                <item name="price" xsi:type="object">Doofinder\Feed\Model\Indexer\Data\Map\Update\Fetcher\Price</item>
                <item name="doofinder" xsi:type="object">Doofinder\Feed\Model\Indexer\Data\Map\Update\Fetcher\Doofinder</item>
            </argument>
        </arguments>
    </type>
    <type name="Doofinder\Feed\Model\Indexer\Data\Map\Update\Fetcher\Magento">
        <arguments>
            <argument name="excludedAttributes" xsi:type="array">
                <item name="price" xsi:type="string">price</item>
                <item name="media_gallery" xsi:type="string">media_gallery</item>
                <item name="tier_price" xsi:type="string">tier_price</item>
                <item name="quantity_and_stock_status" xsi:type="string">quantity_and_stock_status</item>
                <item name="giftcard_amounts" xsi:type="string">giftcard_amounts</item>
            </argument>
        </arguments>
    </type>
    <type name="Doofinder\Feed\Model\Indexer\Data\Map\Update\Fetcher\Doofinder">
        <arguments>
            <argument name="generators" xsi:type="array">
                <item name="simple" xsi:type="object">Doofinder\Feed\Model\Generator\Map\Product</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="doofinderSearchEntityMetadata" type="Magento\Framework\Search\EntityMetadata">
        <arguments>
            <argument name="entityId" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <type name="Doofinder\Feed\Search\DocumentFactory">
        <arguments>
            <argument name="entityMetadata" xsi:type="object">doofinderSearchEntityMetadata</argument>
        </arguments>
    </type>


    <type name="Doofinder\Feed\Search\Aggregation\Builder">
        <arguments>
            <argument name="dataProviderContainer" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Doofinder\Feed\Search\Dynamic\DataProvider</item>
            </argument>
            <argument name="aggregationContainer" xsi:type="array">
                <item name="termBucket" xsi:type="object">Doofinder\Feed\Search\Aggregation\Builder\Term</item>
                <item name="dynamicBucket" xsi:type="object">Doofinder\Feed\Search\Aggregation\Builder\Dynamic</item>
            </argument>
        </arguments>
    </type>

    <type name="Doofinder\Feed\Model\Adapter\FieldMapper\FieldResolver\Price">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Doofinder\Feed\Model\AdditionalAttributes\DisallowedAttributesProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="category" xsi:type="object">Doofinder\Feed\Model\AdditionalAttributes\Provider\Category</item>
                <item name="price" xsi:type="object">Doofinder\Feed\Model\AdditionalAttributes\Provider\Price</item>
                <item name="magento" xsi:type="object">Doofinder\Feed\Model\AdditionalAttributes\Provider\Magento</item>
                <item name="doofinder" xsi:type="object">Doofinder\Feed\Model\AdditionalAttributes\Provider\Doofinder</item>
            </argument>
        </arguments>
    </type>
</config>
