<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="doofinder_config"
             translate="label"
             sortOrder="1000">
            <label>Doofinder</label>
        </tab>
        <section id="doofinder_config_config"
                 translate="label"
                 type="text"
                 sortOrder="100"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Configuration</label>
            <tab>doofinder_config</tab>
            <resource>Doofinder_Feed::config</resource>
            <group id="doofinder_account"
                   translate="label"
                   type="text"
                   sortOrder="100"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>Account</label>
                <field id="api_key"
                       translate="label"
                       type="text"
                       sortOrder="100"
                       showInDefault="1"
                       showInStore="0"
                       showInWebsite="0">
                    <label>API Key</label>
                    <backend_model>Doofinder\Feed\Model\Config\Backend\ApiKeyValidation</backend_model>
                    <comment>
                        <![CDATA[ You need a Management API Key. Search-only keys won't work. ]]>
                    </comment>
                </field>
            </group>
            <group id="doofinder_layer"
                   translate="label"
                   type="text"
                   sortOrder="200"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Doofinder Script</label>
                <field id="doofinder_layer_enabled"
                       translate="label"
                       type="select"
                       sortOrder="100"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\Framework\App\Config\Value</backend_model>
                    <comment>
                        <![CDATA[ Activating this option you are inserting the script into your store code. You can manage product visibility in Doofinder. ]]>
                    </comment>
                </field>
                <field id="script"
                       translate="label"
                       type="textarea"
                       sortOrder="300"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="0">
                    <depends>
                        <field id="doofinder_layer_enabled">1</field>
                    </depends>
                    <label>Script</label>
                    <comment>
                        <![CDATA[ Do not modify this unless you are an advanced user. ]]>
                    </comment>
                </field>
                <field id="store_view_table"
                       translate="label comment"
                       type="text"
                       sortOrder="50"
                       showInDefault="0"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Store Group Configuration</label>
                    <!-- This custom field uses a frontend model to render a table -->
                    <frontend_model>Doofinder\Feed\Block\Adminhtml\System\Config\StoreViewTable</frontend_model>
                    <comment>Manage Doofinder Store installations.</comment>
                </field>
                <field id="installation_id"
                       translate="label"
                       type="text"
                       sortOrder="200"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="1">
                    <label>Installation Id</label>
                    <frontend_model>Doofinder\Feed\Block\System\Config\Disabled</frontend_model>
                    <backend_model>Doofinder\Feed\Model\Config\Backend\ScopeGroupValue</backend_model>
                    <comment>
                        <![CDATA[ This corresponds with the Store Id in Doofinder.]]>
                    </comment>
                </field>
                <field id="hash_id"
                       translate="label"
                       type="text"
                       sortOrder="400"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="1">
                    <label>Search Engine Hash Id</label>
                    <frontend_model>Doofinder\Feed\Block\System\Config\Disabled</frontend_model>
                    <backend_model>Doofinder\Feed\Model\Config\Backend\HashIdValidation</backend_model>
                    <comment>
                        <![CDATA[ If empty you must create a Search Engine with the button below. ]]>
                    </comment>
                </field>
                <field id="create_search_engine"
                       translate="label"
                       type="button"
                       sortOrder="400"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="1">
                    <frontend_model>Doofinder\Feed\Block\System\Config\CreateSearchEngine</frontend_model>
                    <depends>
                        <field id="hash_id"></field>
                    </depends>
                    <label>Create Doofinder Search Engine</label>
                    <comment>
                        <![CDATA[ This Store View is not related to any Search Engine in Doofinder. You can create it now! ]]>
                    </comment>
                </field>
            </group>
            <group id="doofinder_image"
                   translate="label"
                   type="text"
                   sortOrder="210"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Image Configuration</label>
                <field id="doofinder_image_size"
                       translate="label"
                       type="select"
                       sortOrder="100"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Resize Image</label>
                    <source_model>Doofinder\Feed\Model\Config\Source\ImageResize</source_model>
                    <comment>
                        <![CDATA[ Select the size that will be used to index the images. Once selected, you must reindex the products in Doofinder. ]]>
                    </comment>
                </field>
            </group>
            <group id="update_on_save"
                   translate="label"
                   type="text"
                   sortOrder="300"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Automatic Indexing</label>
                <field id="cron_expression"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Automatically process modified products</label>
                    <source_model>Doofinder\Feed\Model\Config\Source\Cronexpression</source_model>
                    <backend_model>Doofinder\Feed\Model\Config\Backend\Cron</backend_model>
                    <comment>
                        <![CDATA[ Configure how often changes will be sent to Doofinder. It will only be executed if there are changes. ]]>
                    </comment>
                </field>
                <field id="categories_in_navigation"
                       translate="label"
                       type="select"
                       sortOrder="500"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Export only categories present in navigation menus</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Whether this option is enabled or not, only active categories will be exported.]]>
                    </comment>
                </field>
            </group>
             <group id="doofinder_update_on_click"
                   translate="label"
                   type="text"
                   sortOrder="400"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>Manual indexing (advanced)</label>
                <field id="update_on_click" translate="label" type="button" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Launch manual indexing</label>
                    <frontend_model>Doofinder\Feed\Block\System\Config\UpdateOnClick</frontend_model>
                </field>
            </group>
            <group id="doofinder_custom_attributes"
                   translate="label"
                   type="text"
                   sortOrder="400"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Custom attributes</label>
                <field id="custom_attributes"
                       translate="label"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Custom attributes to be indexed</label>
                    <frontend_model>Doofinder\Feed\Block\Adminhtml\Form\Field\CustomAttributes</frontend_model>
                    <backend_model>Doofinder\Feed\Model\Config\Backend\CustomAttributes</backend_model>
                    <comment>
                        <![CDATA[ Attributes selected as 'Enabled' will be included in the feed indexation. ]]>
                    </comment>
                </field>
            </group>
            <group id="doofinder_integration"
                   translate="label"
                   type="text"
                   sortOrder="500"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>Doofinder Integration configuration (advanced)</label>
                <field id="integration_id"
                       translate="label"
                       type="select"
                       sortOrder="100"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Magento Integration</label>
                    <source_model>Doofinder\Feed\Model\Config\Source\Integration</source_model>
                    <comment>
                        <![CDATA[ Select Magento integration for Doofinder. Please, make sure you have completed the setup process.  ]]>
                    </comment>
                </field>
                <field id="login_endpoint"
                       translate="label"
                       type="text"
                       sortOrder="200"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Doofinder Login URL</label>
                    <comment>
                        <![CDATA[ Doofinder endpoint URL where the login integration request will be sent. ]]>
                    </comment>
                </field>
                <field id="signup_endpoint"
                       translate="label"
                       type="text"
                       sortOrder="300"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Doofinder Signup URL</label>
                    <comment>
                        <![CDATA[ Doofinder endpoint URL where the signup integration request will be sent. ]]>
                    </comment>
                </field>
                <field id="clean_integration" translate="label" type="button" sortOrder="600" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Unsynchronize your integration with Doofinder (irreversible)</label>
                    <frontend_model>Doofinder\Feed\Block\System\Config\CleanIntegration</frontend_model>
                </field>
                <field id="sector"
                       translate="label"
                       type="select"
                       sortOrder="700"
                       showInDefault="0"
                       showInWebsite="0"
                       showInStore="0">
                </field>
            </group>
        </section>
    </system>
</config>
